<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <title>Graphics</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous"></link> 
    
    <!-- Custom styles for this template -->
    <link href="https://cdn.rawgit.com/AyranAndrade/desafioIndwise/master/src/main/resources/assets/css/style.css" rel="stylesheet"></link>
    <link href="https://cdn.rawgit.com/AyranAndrade/desafioIndwise/master/src/main/resources/assets/css/style-responsive.css" rel="stylesheet"></link>
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
            <!--logo start-->
            <a href="/production" class="logo"><b>Desafio Indwise</b></a>
            <!--logo end-->
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <li class="mt">
                      <a class="active" href="/production">
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/search">
                          <span>Search</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-12 main-chart">
                  
				
					<div class="row mt">
                                            
                                            <table id="table" class="highchart" data-graph-container-before="1"
               data-graph-type="column">
            <caption>How many products have been manufactured by day?</caption>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Units</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${results}">
                    <td th:text="${result.date}">Date</td>
                    <td th:text="${result.count}">Count</td>
                </tr>
            </tbody>
        </table>
		</div><!-- /row -->	
					
                  </div><!-- /col-lg-12 END SECTION MIDDLE -->
                  
              </div><!--/row -->
          </section>
      </section>

      <!--main content end-->
  </section>
      
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    
    <script src="https://code.highcharttable.org/2.0.0/jquery.highchartTable-min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('table.highchart').highchartTable();
            $('#table').hide();
        });
    </script>

  </body>
</html>
